@import "tailwindcss";

body {
  color: #171717;
  background: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

/* Remove default link styling for buttons */
a {
  text-decoration: none;
  color: inherit;
}
